@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body{
    
    background: #0c252f ;
}
/* Navbar */
.navbar {
    margin-left: 65px;
    font-weight: 700;
    font-size: 23px;
    color: white;
    font-family: Mija,-apple-system,BlinkMacSystemFont,Roboto,roboto slab,droid serif,segoe ui,system-ui,Arial,sans-serif;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 25%);
    text-decoration: none;
}
/* Navbarimage*/
.navbar-brand img{
    margin-top: 15px;
    height:75px;
    width:115;
}
/* Navbar attributes*/
.nav-link{
    color: white;
    font-family: monospace;
    margin-right: 12px;
}
/* Navbar attributes */

/*Input field in navbar*/
input[type=text] {
    width: 350px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 13px;
    font-size: 16px;
    background-color: white;
    background-image:url('search-bar-flat-icon-free-png.png')image-set('15px');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
  }
  input img{
    height:5px;
    width: 5px;
  }

  input::after:target{
    border:yellow;
  }

/* Hover effects on navbar */
.nav-item :hover{
    background-color: #0c252f;
    color: white;
    border-radius: 12px;
}

.my-2{
     margin-left: 95px;
}

/* Buttons under navbar */
.btn-grp{
    margin-left: 60px;
}
.btn{
    margin-right:20px;
    border: none;
    border-radius: 13px;
    font-size:16px;
    color:#bdddff;
    font-weight: bold;
    border-color: white;
    background-color:#283c50;
    font-family: Elena,-apple-system,BlinkMacSystemFont,Roboto,roboto slab,droid serif,segoe ui,system-ui,Arial,sans-serif;   
}

/*Buttons hover*/
button:hover {
    opacity: 1;
    background-color: #bdddff;
    color: black;
}

#search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    background: #fff;
    border-radius: 15px;
    padding: 0 10px;
}
#search-bar input{
    outline: none;
    border: none;
}
#search-bar i{
    color:#9400D3;
    font-size: 20px;
}

#dropdown-pic{
    width: 30px;
}

.container{
    padding-top:100px;
}
h1{
    color:white;
}
.card{
    background-color: rgb(214, 214, 231);
    border-radius: 13px;
    width:700px;
}
.summ{
    margin-top: 50px;
}
.border{
    border-bottom: #162c35  1px;
    margin-top: 25px;
}
h1{
    color:linear-gradient(-90deg,#adfbda 0,#35c3ff 30%,#fda399 50%,#76d880 70%,#ebf38b 90%,#adfbda 100%);
}
p{
    font-size: 20px;
    color: white;
    font-family:sans-serif;
}
h3{
    color: white;
    font-size:34px;
}
.caro{
    padding: 0% 7%;
    overflow-y: scroll;
    height: 10rem;
    width: 50rem;
    overflow: hidden;
    background:linear-gradient(-45deg, #162c35 70%, #0c252f 100%);
    color: white;
}
th{
    color: white;
}
tbody{
    color: white;
}
.border{
    border-bottom: 5px solid rgb(202, 175, 175);
}
.btn-success{
    background: green;
}
p2{
    margin-right: 28px;
}
a{
    color: #35c3ff;
}
h3{
    font-size: 25px;
    color: white;
}
.caro{
    padding-top: 40px;
    height: auto;
}
p3{
    font-style: italic;
    color: white;
    text-decoration: none;
}
.card{
    padding: 0% 7%;
    overflow-y: scroll;
    height: auto;
    width: 50rem;
    overflow: hidden;
    background:#0c252f;
    color: white;
}
.card img{
    margin: 15px;
}
.card .btn{
    background-color: blue;
    height: 65px;
    width: 170px;
    margin-bottom: 45px;
}
.textarea{
    border-radius: 12px;
}
.dot {
    height:10px;
    width:10px;
    background-color:white;
    border-radius: 50%;
    display: inline-block;
  }
  .footer-links{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  h4{
    margin-left:50px;
    font-size: small;
    font-size:20px;
  }
  .footer{
    background-color: #d33a2c;
    margin-top: 45px;
    flex-wrap: wrap;
  }
  .footer h3{
    padding-left:20px;
    line-height:1.8;
  }
  .footer a{
    text-decoration: none;

  }
  .ctr{
    text-align: center;
  }
  p4{
    margin-left: 15px;
    color: wheat;
  }
  .mm{
    padding-top:45px;
  }
  .fEmail{
    margin-top: 45px;
  }
  .im{
    padding-top:500px;
    padding-bottom: 200px;
  }
  .imm{
    padding-bottom: 1400px;
  }
  .immt{
    padding-top: 700px;
  }
  .hp{
    float: right;
    
  }
